body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/*
 * Header
 *
 */

header {
  background-color: #fff9f9;
}

h1 {
  color: #FE4365;
  margin: 0 auto;
  font-weight: 300;
  font-size: 3em;
}

h2 {
  color: #FE4365;
  font-weight: 300;
}

.wrapper{
  max-width: 60em;
  margin: 0 auto;
}


.site-title {
  letter-spacing: 3px;
  float: left;
  margin-top: 5px;
}

.home-nav {
  line-height: 60px;
}

.home-nav ul {
  float: right;
  margin: 0;
  list-style: none;
}

.home-nav ul li {
  display: inline;
  padding: 0 15px;
  font-size: 1.3em;
}

/*
 * Main
 *
 */

main {
  max-width: 30em;
  margin: 2em auto 0 auto;
}

p {
  margin: 1em 0;
  font-size: 1.3em;
  line-height: 1.8em;
  color: #303030;
}

a {
  color: #FE4365;
  text-decoration: none;
}

a:hover {
  color: #FC9D9A;
  text-decoration: none;
}

.container {
  max-width: 60em;
}

.signin-alert, .signup-alert {
  text-align: center;
}

.error {
  color: #C3122F;
}

input, textarea {
  width: 100%;
  line-height: 2.2em;
  padding: 0 0.7em;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: 100;
}

textarea {
  min-height: 200px;
}

.article-time {
  color: #83AF9B;
  font-weight: 600;
}
